@charset "UTF-8";

/* main elements
============================================ */

/* headings
============================================ */
#jpp-logo h1 {color: #ffff99; text-shadow: 2px 2px 2px #000, 3px 3px 0 #6920e9;} 
#jpp-logo h2, #main-nav h3, #related h3, #presents-section h3 {color: #ffff99; text-shadow: 1px 1px 1px #000, 2px 2px 0 #6920e9;}

/* links
============================================ */
#main p a, #references p a {font-weight: 600;}
#main p a:hover, #main p a:focus, #references p a:hover, #references p a:focus {text-decoration: underline;}

/* navigation
============================================ */

/* articles - sections
============================================ */
#main p, #main p a,.cu-col-div, #references p, #references li, #references a, #references span  {color: #6633ff;}
#contact-info, #contact-info a, footer, footer a {color: #ffff99;}
#main p {font-size: .95em;}
.cu-col-div ul {list-style: disc; padding: 0 15px; font-size: .9em; margin-left: 3%;}
.cu-col-div li {padding: 3px;}
#references p, #references li {font-size: .8em;}
footer, footer a {font-size: .7em;}

/* footer
============================================ */


/* progressive enhancement
============================================ */
@media screen and (min-width: 100px)
{

/* main elements
============================================ */

/* headings
============================================ */
#presents-section h1 {font-size: 2.75em;}


/* navigation
============================================ */

/* articles - sections
============================================ */

/* images - tables - forms
============================================ */

}

@media screen and (min-width: 600px)
{
/* main elements
============================================ */

/* headings
============================================ */
#presents-section h1 {padding: 10px 0;}

/* navigation
============================================ */

/* articles - sections
============================================ */
#presents-section h1, #main section, #references {border: 2px solid #181818; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;}
#main section, #references {padding: 10px 60px;}
.cu-col-div {display: block; width: 49%; float: left;}

/* images - tables - forms
============================================ */
.vid-col-div iframe, .vid-col-div img{border: 1px solid #181818;}
#references img.no-border-ref-img {border: none;}

/* asides
============================================ */

/* footer
============================================ */

}

@media screen and (min-width: 744px)
{
/* main elements
============================================ */

}

@media screen and (min-width: 800px)
{
/* main elements
============================================ */

/* headings
============================================ */

}

@media screen and (min-width: 1000px)
{
/* main elements
============================================ */

/* headings
============================================ */
#presents-section h1 {font-size: 3.5em;}

/* navigation
============================================ */

/* articles - sections
============================================ */

/* asides
============================================ */

/* images - tables - forms
============================================ */
.vid-col-div {margin: 0 auto; width: 99%;}

}

@media screen and (min-width: 1200px)
{
/* main elements
============================================ */

/* headings
============================================ */

/* articles - sections
============================================ */
.cu-col-div ul {padding: 0 25px;}
.ref-col-div {width: 49%;}

/* asides
============================================ */

}

@media screen and (min-width: 1400px)
{
/* main elements
============================================ */

/* headings
============================================ */

/* articles - sections
============================================ */
#ref-div {max-height: 1535px;}
.ref-col-div {display: block; width: 100%; float: none;}
#references {padding: 5px;}

/* images - tables - forms
============================================ */
.ref-img-div {padding-top: 10px;}
.vid-col-div {margin: 0 auto; width: 99%;}
}

@media screen and (min-width: 1590px)
{
/* main elements
============================================ */

}
