@charset "UTF-8";

/* main elements
============================================ */
html {background: #9d8246;}

/* headings
============================================ */

/* links
============================================ */

/* navigation
============================================ */
#home-button, #related li a {background: #3a2800; border: 2px solid #ffb;}

/* articles - sections
============================================ */

/* images - tables - forms
============================================ */

/* asides
============================================ */

/* footer
============================================ */

/* layout
============================================ */

@media screen and (min-width: 100px)
{
/* main elements
============================================ */
html {background-image: url(../images/fineous-lg-vertical-parch-background.jpg); background-repeat: verticle-repeat;}

/* headings
============================================ */
#jpp-logo h1, #jpp-logo h2 {color: #ffb; text-shadow: 2px 2px #3a2800, 3px 3px #9d8246;}
#presents-section h3 {color: #ffb;}
#presents-section h1 {font-size: 2.4em; padding: 15px 10px 20px; text-shadow: none; color: #3a2800;}
#main section h2, #main section h3, #references h2, #references h3 {letter-spacing: 1.5px; color: #3a2800;}

/* links
============================================ */

/* navigation
============================================ */

/* articles - sections
============================================ */
#contact-info, #contact-info a, #main p, #references p, #references li, #references span {color: #000;}
#references {border-color: #3a2800;}

/* images - tables - forms
============================================ */

/* asides
============================================ */

/* footer
============================================ */
footer {color: #000; border-color: #000;}
footer a {color: #000;}

/* layout
============================================ */
}

@media screen and (min-width: 600px)
{
/* main elements
============================================ */
html {background-image: url(../images/heiroglyph-tile.jpg); background-repeat: repeat; background-attachment: fixed;}

/* headings
============================================ */
#main-nav h3, #related h3 {color: #ffb; text-shadow: 1px 1px #3a2800, 2px 2px #9d8246;} 
#presents-section h1 {font-size: 2.75em;}

/* links
============================================ */

/* navigation
============================================ */
#home-button, #related li a {color: #ffb;}

/* articles - sections
============================================ */
#main section, #references {padding: 10px 60px;}
#main section.video {padding: 10px 0;}
#references {border: 1px solid #453000;}

.back-top {background-image: url(../images/fineous-lg-parch-background.jpg); background-repeat: no-repeat; background-position: top left; border: 1px solid #453000; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;}

.back-center {background-image: url(../images/fineous-lg-parch-background.jpg); background-repeat: no-repeat; background-position: center left; border: 1px solid #453000; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;}

.back-bottom, .references-wide {background-image: url(../images/fineous-lg-parch-background.jpg); background-repeat: no-repeat; background-position: bottom left; border: 1px solid #453000; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;} 

#contact-info a {color: #000;}
#contact-info {color: #000; border: 1px solid #453000; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; background-image: url(../images/fineous-med-parch-background.jpg); background-repeat: no-repeat; background-position: top left;}

/* images - tables - forms
============================================ */
.vid-col-div iframe, .vid-col-div img {border: 1px solid #453000;}
#references img.no-border-ref-img {border: none; margin-bottom: 15px;}

/* asides
============================================ */

/* footer
============================================ */
footer {color: #ffb; border-color: #ffb;}
footer a {color: #ffb;}

/* layout
============================================ */
}

@media screen and (min-width: 800px)
{
}

@media screen and (min-width: 1200px)
{
/* images - tables - forms
============================================ */
.vid-col-div img {width: 400px; height: 300px;}
}

@media screen and (min-width: 1400px)
{
/* headings
============================================ */
#presents-section h1 {font-size: 3em;}
#references h2 , #references h3 {text-shadow: none;}
#references h3 {font-size: .9em;}

/* articles - sections
============================================ */
#references {padding: 5px;}
.references-wide {background: none;}
.references-tall {background-image: url(../images/fineous-vert-parch-background.jpg); background-attachment: fixed; background-position: top right;}
.ref-col-div {min-height: 100%;}
#ref-div {max-height: 1430px; overflow: auto;}
}