@charset "UTF-8";

/* main elements
============================================ */
body {color: #888;}

/* headings
============================================ */

/* links
============================================ */

/* navigation
============================================ */

/* articles - sections
============================================ */
.hc-col-div ul {list-style: circle; padding: 0 15px; font-size: .85em; margin-left: 3%;}
.hc-col-div li {padding: 3px;}
em {letter-spacing: 2px;}

/* footer
============================================ */


/* progressive enhancement
============================================ */
@media screen and (min-width: 100px)
{

/* main elements
============================================ */

/* headings
============================================ */
#jpp-logo h1 {text-shadow: 2px 2px 2px #000, 4px 4px 0 #604e3a;} 
#jpp-logo h2, #main-nav h3, #related h3, #presents-section h3 {text-shadow: 1px 1px 1px #000, 3px 3px 0 #604e3a;}
#presents-section h1 {color: #ddd; text-shadow: 0px 0px 15px #fff;}
#main h2 {font-size: 1.85em; color: #604e3a;}

/* navigation
============================================ */

/* articles - sections
============================================ */

/* images - tables - forms
============================================ */

}

@media screen and (min-width: 600px)
{
/* main elements
============================================ */
html {background-image: url(../images/ghost-tile.png); background-repeat: repeat; background-attachment: fixed;}
/* headings
============================================ */

/* navigation
============================================ */

/* articles - sections
============================================ */
.hc-col-div {display: block; width: 49%; float: left;}

/* images - tables - forms
============================================ */

/* asides
============================================ */

/* footer
============================================ */

}

@media screen and (min-width: 744px)
{
/* main elements
============================================ */

}

@media screen and (min-width: 800px)
{
/* main elements
============================================ */

/* headings
============================================ */

}

@media screen and (min-width: 1000px)
{
/* main elements
============================================ */

/* headings
============================================ */

/* navigation
============================================ */

/* articles - sections
============================================ */

/* asides
============================================ */

/* images - tables - forms
============================================ */

}

@media screen and (min-width: 1200px)
{
/* main elements
============================================ */

/* headings
============================================ */

/* articles - sections
============================================ */
.hc-col-div ul {padding: 0 25px;}

/* asides
============================================ */

}

@media screen and (min-width: 1400px)
{
/* main elements
============================================ */

/* headings
============================================ */
#main h2  {font-size: 2em;}

/* articles - sections
============================================ */

/* images - tables - forms
============================================ */

}

@media screen and (min-width: 1590px)
{
/* main elements
============================================ */

}
