@charset "UTF-8";

#home-button {display: none;}

/* progressive enhancement
============================================ */
@media screen and (min-width: 100px)
{

/* main elements
============================================ */

/* headings
============================================ */
.fineous {color: #453000;}
#fineous .fineous {font-weight: 600; color: #453000;}
#kaputska .kaputska {font-size: 1.5em; font-weight: 501;}
#instruction .instruction, #lecture .lecture {color: #eab028; font-size: 1.5em;}
#closeup .closeup {color: #6920e9; font-size: 1.5em;}
#haunt .haunt {font-size: 2em;}
#colella .colella {font-size: 1.5em;}

/* links
============================================ */

/* navigation
============================================ */

/* articles - sections
============================================ */
.hs-p2 {font-size: .7em;}
#fineous p {color: #000;}
#kaputska .hs-text {color: #000; font-weight: 600;} 
#colella .hs-text {text-shadow: 1px 1px #000;}

#fineous {background: url(../images/fineous-med-parch-background.jpg) top right no-repeat;}
#kaputska {/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZThjYSIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNlZGU4Y2EiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGU4Y2EiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=), url(../images/kaputska-med-back.jpg) center center no-repeat;
background: -moz-linear-gradient(top,  rgba(237,232,202,0.4) 0%, rgba(237,232,202,0.4) 1%, rgba(237,232,202,0.4) 100%), url(../images/kaputska-med-back.jpg) center center no-repeat; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,232,202,0.4)), color-stop(1%,rgba(237,232,202,0.4)), color-stop(100%,rgba(237,232,202,0.4))), url(../images/kaputska-med-back.jpg) center center no-repeat; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,232,202,0.4) 0%,rgba(237,232,202,0.4) 1%,rgba(237,232,202,0.4) 100%), url(../images/kaputska-med-back.jpg) center center no-repeat; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,232,202,0.4) 0%,rgba(237,232,202,0.4) 1%,rgba(237,232,202,0.4) 100%), url(../images/kaputska-med-back.jpg) center center no-repeat; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,232,202,0.4) 0%,rgba(237,232,202,0.4) 1%,rgba(237,232,202,0.4) 100%), url(../images/kaputska-med-back.jpg) center center no-repeat; /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,232,202,0.4) 0%,rgba(237,232,202,0.4) 1%,rgba(237,232,202,0.4) 100%), url(../images/kaputska-med-back.jpg) center center no-repeat; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ede8ca', endColorstr='#66ede8ca',GradientType=0 ), url(../images/kaputska-med-back.jpg) center center no-repeat; /* IE6-8 */
}
#instruction {border-color: #eab028; background: url(../images/magic_purple.jpg) top right no-repeat}
#closeup {border-color: #6920e9; background-color: #000;}
#haunt {background: url(../images/ghost-tile.png) repeat; background-color: #000; border-color: #fff;}
#colella {background: url(../images/brick-med-back.jpg) top right no-repeat;}
}

@media screen and (min-width: 600px)
{

/* main elements
============================================ */
html {background-image: url(../images/curtain-right.gif), url(../images/curtain-left.jpg); background-repeat: no-repeat, no-repeat; background-position: top right, -40px top; background-attachment: fixed, fixed; background-color: #000;}

#main {margin-top: 0;}

/* headings
============================================ */
.ref-col-div h3 {min-height: 30px;}

/* links
============================================ */

/* navigation
============================================ */

/* articles - sections
============================================ */
#fineous .hs-text, #closeup .hs-text {margin-top: 15px; width: 55%;}
#kaputska .hs-text {margin-top: 25px; width: 63%;}
#haunt .hs-text, #lecture .hs-text {margin-top: 5px;}
#colella .hs-text {margin-top: 25px;}
#references {/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(left,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=1 ); /* IE6-8 */}
.ref-col-div {min-height: 381px;}

/* images - tables - forms
============================================ */
#fineous .hs-img, #closeup .hs-img {width: 43%;}
#kaputska .hs-img {width: 35%;}
#kaputska img {border: 1px solid #181818;}
}

@media screen and (min-width: 800px)
{
/* articles - sections
============================================ */
#instruction .hs-text, #fineous .hs-text, #closeup .hs-text, #haunt .hs-text, #lecture .hs-text {margin-top: 0;} 
#kaputska .hs-text, #colella .hs-text {margin-top: 0px;}

/* images - tables - forms
============================================ */
#fineous .hs-img, #closeup .hs-img {margin-top: 15px;}
#instruction .hs-img {margin-top: 40px;}
#haunt .hs-img, #lecture .hs-img {margin-top: 30px;}
}

@media screen and (min-width: 1000px)
{
/* articles - sections
============================================ */
#fineous .hs-text, #closeup .hs-text {margin-top: 15px;}
#kaputska .hs-text {margin-top: 20px;}
#haunt .hs-text {margin-top: 10px; width: 60%;}
#lecture .hs-text {margin-top: 30px; width: 60%;}
#colella .hs-text {width: 60%; margin-top: 20px;}

/* images - tables - forms
============================================ */
#haunt .hs-img, #colella .hs-img, #lecture .hs-img {width: 38%;}
#fineous .hs-img, #closeup .hs-img, #instruction .hs-img, #haunt .hs-img {margin-top: 0px;}
}

@media screen and (min-width: 1200px)
{
/* articles - sections
============================================ */
#fineous .hs-text {margin-top: 0px;}
#closeup .hs-text {margin-top: 15px;}
#kaputska .hs-text {margin-top: 20px;}
#instruction .hs-text {width: 54%;}
#haunt .hs-text{width: 54%; margin-top: -10px;}
#lecture .hs-text {width: 54%; margin-top: 20px;}
#colella .hs-text {width: 50%; margin-top: 10px;}

/* images - tables - forms
============================================ */
#instruction .hs-img {margin-top: 30px; width: 44%;}
#kaputska .hs-img {margin-top: 20px;}
#closeup .hs-img {margin-top: 15px;}
#haunt .hs-img, #lecture .hs-img {width: 44%;}
#colella .hs-img {width: 48%; margin-top: 9px;}
}

@media screen and (min-width: 1400px)
{
/* headings
============================================ */
#references h2, #references h3 {letter-spacing: 0px;}

/* articles - sections
============================================ */
#ref-div {margin-top: 280px; margin-bottom: 30px;}
#instruction .hs-text{width: 56%;}

#fineous .hs-text {margin-top: -5px;}
#closeup .hs-text {margin-top: 10px;}
#kaputska .hs-text, #lecture .hs-text {margin-top: 15px;}
#haunt .hs-text {width: 54%; margin-top: -10px;}
#colella .hs-text {width: 50%; margin-top: 10px;}
#ref-div {max-height: 450px;}

/* images - tables - forms
============================================ */
#instruction .hs-img, #lecture .hs-img {margin-top: 25px; width: 42%;}
#kaputska .hs-img {margin-top: 5px;}
#closeup .hs-img {margin-top: 15px;}
#haunt .hs-img {width: 44%; margin-top: 5px;}
#colella .hs-img {width: 48%; margin-top: 9px;}

}

@media screen and (min-width: 1590px)
{
/* main elements
============================================ */
#fineous .hs-text {margin-top: 20px;}
}